---
const platform = ['github', 'linkedin']
const username = ['rdias66', 'rodrigo-dias-45009a242']
---

<footer>
  <ul>
    <li>
      <p>
        Learn more about my projects on <a
          href={`https://www.${platform[0]}.com/${username[0]}`}
          >{platform[0]}</a
        >!
      </p>
    </li>
    <li>
      <p>
        Or talk to me on <a
          href={`https://www.${platform[1]}.com/in/${username[1]}`}
          >{platform[1]}</a
        >!
      </p>
    </li>
  </ul>
</footer>
